.flame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .flame-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        max-width: 1300px;

        #canvas {
            width: 100%;
            background-color: black;
        }
    }

}